.slider {
  position: relative;
}

.slider__button {
  position: absolute;
  top: calc(50% - 10px);
  height: 18px;
  width: 8px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  &--prev {
    left: 0;
    background-image: url("../img/arrowPrev.svg");
  }
  &--next {
    right: 0;
    background-image: url("../img/arrowNext.svg");
  }
}

.slider__slide {
  display: none;

  &--active {
    display: block;
  }
}
